[submodule "Tera.Core"]
	path = Tera.Core
	url = https://github.com/neowutran/Tera.git
[submodule "CasualMeter\\res"]
	path = CasualMeter\\res
	url = https://github.com/neowutran/TeraDpsMeterData.git
